@use "../../../styles/partials/breakpoints" as breakpoints;
@use "../../../styles/partials/colors" as *;
@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/mixins" as *;

.IID {
  display: flex;
  flex-direction: column;
  font-family: "Titillium-Web";
  background-color: $Background-light;

  &__title-box {
    display: flex;
    padding: 2rem 1.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  &__arrow {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    padding-top: 0.5rem;
    flex-grow: 1;
  }
  &__link-box {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }

  &__item-name {
    font-size: 1.75rem;
    margin: 0;
    line-height: 36px;
    flex-grow: 1;
    font-family: $font-bold;
    @include mobilePageHeader;
    color: $Primary-dark;
  }

  &__edit-icon {
    color: $Primary-light;
    background-color: $Primary-medium;
    border-radius: 50%;
    padding: 0px 8px;
    width: 31px;
    height: 30px;
  }
}

.item {
  padding: 1rem 1.5rem;
  border-top: 1px solid $Secondary-light;

  @include breakpoints.tablet {
    display: flex;
    justify-content: space-evenly;
  }

  &__top {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    @include breakpoints.tablet {
      width: 65%;
    }
    @include breakpoints.desktop {
      width: 75%;
    }
  }

  &__description {
    text-transform: uppercase;
    @include mobileTableHeader;
    color: $Secondary-dark;
    padding-bottom: 0.25rem;

    @include breakpoints.tablet {
      @include tableHeader;
    }
  }

  //end of break
}
