$mobile-max-width: 767px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

@mixin mobile {
  @media only screen and (min-width: 320px) and (max-width: $mobile-max-width) {
    @content;
  }
}
// media query for tablet
@mixin tablet {
  @media only screen and (min-width: $tablet-min-width) {
    @content;
  }
}
// media query for desktop
@mixin desktop {
  @media only screen and (min-width: $desktop-min-width) {
    @content;
  }
}
