//primary colors
$Instock-Black: #13182c;
$Instock-Indigo: #2e66e5;
$White: #ffffff;

//secondary colors
$Slate: #5c667e;
$Cloud: #bdc5d5;

//background colors
$Graphite: #232940;
$Light-Grey: #f7f8f9;

//supporting colors
$Green: #158462;
$Red: #c94515;
