//primary colors
$Primary-dark: #13182c;
$Primary-medium: #2e66e5;
$Primary-light: #ffffff;

//secondary colors
$Secondary-dark: #5c667e;
$Secondary-light: #bdc5d5;

//background colors
$Background-dark: #232940;
$Background-light: #f7f8f9;

//supporting colors
$Support-dark: #158462;
$Support-light: #c94515;
