@use "../../../styles/partials/breakpoints" as breakpoints;
@use "../../../styles/partials/colors" as *;
@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/mixins" as *;

.wd-container {
	display: flex;
	flex-direction: column;
	font-family: "Titillium-Web";
}

.title-box {
	display: flex;
	padding: 2rem 1.5rem 1.5rem;
	justify-content: space-between;
	align-items: center;

	&-left {
		display: flex;
	}

	&_title {
		padding-left: 0.7rem;
		font-size: 1rem;
		font-family: "Titillium-Web-bold";
		@include mobilePageHeader;
	}

	&_editing {
		color: $Primary-light;
		background-color: $Primary-medium;
		border-radius: 50%;
		padding: 0.4rem;
		width: 1rem;
		height: 1rem;
	}
}

.info-box {
	padding: 1rem 1.5rem;
	border-top: 1px solid $Secondary-light;

	&-top {
		display: flex;
		flex-direction: column;
		padding-bottom: 2.25rem;
	}

	&_label {
		text-transform: uppercase;
		@include mobileTableHeader;
		color: $Secondary-dark;
		padding-bottom: 0.25rem;
	}

	&_detail {
		@include mobileLabelsLinksButtons;
		color: $Primary-dark;
	}

	&-bottom {
		display: flex;

		&_left,
		&_right {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
	}
}

.item-box {
	&-top {
		display: flex;
		border-top: 1px solid $Secondary-light;
		padding: 1rem 1.5rem;

		&_left,
		&_right {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
	}

	&_label {
		text-transform: uppercase;
		@include mobileTableHeader;
		color: $Secondary-dark;
		padding-bottom: 0.25rem;

		&-qty {
			padding-top: 1.25rem;
		}
	}

	&_name-box {
		display: flex;
		padding-bottom: 1.25rem;
	}

	&_name {
		@include mobileBodyMedium;
		color: $Primary-medium;
	}

	&_status {
		@include mobileBodySmall;
		text-transform: uppercase;
		color: $Support-dark;
		background: rgba(21, 132, 99, 0.07);
		padding: 0.25rem 0.5rem;
		width: fit-content;
		border-radius: 1.25rem;
	}

	&_category {
		@include mobileBodyMedium;
	}
	&_qty {
		@include mobileBodyMedium;
	}

	&_bottom {
		padding: 1.5rem;
		display: flex;
		justify-content: space-between;
	}
}
